{
	"edsm_rse" : {
		"number_of_processes" : 6,
		"number_of_simultatnous_inserts" : 1000,
		"size_of_queue" : 100
	},
	"database" : {
		"host" : "127.0.0.1",
		"port" : "5432",
		"dbname" : "edsm_rse_db", 
		"user" : "edsm_rse",
		"password" : "secret password"
	}
}
